[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

a.active {
    text-decoration: underline;
}
.click {
    cursor: pointer !important;
}