<div ng-show="wait" class="text-center">Please wait...</div>

<div ng-show="!wait">
    <div class="row mb-3">
        <div class="col-xl-6 col-lg-6">
            <div class="card card-inverse card-success">
                <div class="card-block bg-success">
                    <div class="rotate">
                        <i class="fa fa-user fa-5x"></i>
                    </div>
                    <h6 class="text-uppercase">Users</h6>
                    <h1 class="display-1">{{ total.totalUser }}</h1>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6">
            <div class="card card-inverse card-danger">
                <div class="card-block bg-danger">
                    <div class="rotate">
                        <i class="fa fa-question fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">Question</h6>
                    <h1 class="display-1">{{ total.totalQuestion }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .card {
        overflow: hidden;
    }

    .card-inverse {
        color: rgba(255,255,255,.65)
    }

    .card-block {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
    }

        .card-block .rotate {
            z-index: 8;
            float: right;
            height: 100%;
        }

            .card-block .rotate i {
                color: rgba(20, 20, 20, 0.15);
                position: absolute;
                left: 0;
                left: auto;
                right: -10px;
                bottom: 0;
                display: block;
                -webkit-transform: rotate(-44deg);
                -moz-transform: rotate(-44deg);
                -o-transform: rotate(-44deg);
                -ms-transform: rotate(-44deg);
                transform: rotate(-44deg);
            }
</style>