<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <!-- styles -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body ng-app="quizApp" ng-controller="HomeCtrl" ng-cloak>

    <!-- header -->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="/admin">ADMIN</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark @(Helper.SetActiveClassName(new string[] {"/home","/" }))"
                               href="/admin">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/angularjs/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-animate/1.8.0/angular-animate.min.js"></script>
    <script src="~/js/angularjs/app.js"></script>

    <!-- ctrls -->
    <script src="~/admin/js/angularjs/HomeCtrl.js"></script>

    <!-- services -->
    <script src="~/js/angularjs/service/jg-http.service.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>