@section Scripts {
    <script src="~/admin/js/angularjs/QuizCtrl.js"></script>
}

<style>
    td a {
        margin: 0 10px;
    }
</style>

<table class="table table-hover table-bordered" ng-controller="QuizListCtrl">
    <thead>
        <tr>
            <th>Question</th>
            <th>Answer Count</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody ng-show="wait">
        <tr class="text-center">
            <td colspan="5">Please wait...</td>
        </tr>
    </tbody>
    <tbody ng-show="!wait && quizList.length == 0">
        <tr class="text-center">
            <td colspan="5">Not found</td>
        </tr>
    </tbody>
    <tbody ng-show="!wait">
        <tr ng-repeat="quiz in quizList">
            <td>{{ quiz.text }}</td>
            <td>{{ quiz.answerCount }}</td>
            <td>{{ quiz.createdAt | date }}</td>
            <td>{{ quiz.updatedAt | date }}</td>
            <td class="justify-content-center d-flex">
                <a title="Edit" href="create/{{ quiz.id }}">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <a title="Delete" href="" ng-click="delete(quiz.id)">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>