@{
    long id = (long)ViewBag.ID;
}

@section Scripts {
    <script>
        const id = @id;
    </script>
    <script src="~/admin/js/angularjs/RoleCtrl.js"></script>
}

<div ng-controller="RoleCreateCtrl">
    <div ng-show="wait" class="text-center">Please wait...</div>
    <form ng-submit="save()" ng-hide="wait">
        <div class="form-group">
            <label for="name">Role name:</label>
            <input type="text" id="name" autofocus class="form-control" ng-model="role.name" placeholder="Role name" />
        </div>
        <div class="form-group">
            <label class="d-block">
                System Actions:
                <a href="" ng-click="allSelect()" title="All {{allSelected ? 'un':''}}select">
                    <i class="{{ allSelected ? 'fas' : 'far' }} fa-check-circle"></i>
                </a>
            </label>
            <div style="overflow: hidden; width: calc(100% / 4); float: left;"
                 class="form-check"
                 ng-repeat="systemAction in role.systemActions">
                <label class="form-check-labelform-check" style="cursor: pointer;">
                    <input type="checkbox" autofocus class="form-check-input" value="{{systemAction.id}}" ng-model="systemAction.checked" /> {{ systemAction.ctrlName }} - {{ systemAction.actName }}
                </label>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">{{ role.id == 0 ? 'Save' : 'Update' }}</button>
        </div>
    </form>
</div>

