@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="form-container sign-up-container">
    <form action="#">
        <h1>Create Account</h1>
        <div class="social-container">
        </div>
        @*<span>or use your email for registration</span>*@
        <input type="text" autofocus placeholder="User Name" />
        <input type="password" placeholder="Password" />
        <button>Sign Up</button>
    </form>
</div>