@{
    ViewData["Title"] = "Questions";
}

@section Scripts {
    <script src="~/js/angularjs/ctrl/QuizCtrl.js"></script>
}

<div class="col-md-10 column" id="quiz-container" ng-controller="QuizCtrl">
    <p class="lead">Tamamlanma oranı %40</p>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 40%;">
            <span class="sr-only">Completo al 40%</span>
        </div>
    </div>
    <div class="card" ng-repeat="(i, quiz) in quizList">
        <div class="card-header">
            <h3 class="panel-title">{{quiz.question}}</h3>
        </div>
        <div class="card-body">
            <label ng-repeat="answer in quiz.answers">
                <input type="radio" ng-model="opts[i]" name="optionsRadios_{{i}}" value="{{answer.id}}">
                {{answer.text}}
            </label>
        </div>
        <div class="card-footer">
            <a href="javascript:;" class="btn btn-primary" ng-click="nextQuestion(quiz.id, opts[i])" role="button">Onaylıyorum</a>
            @*<a href="#" class="btn btn-default disabled" role="button">Avanti</a>*@
        </div>
    </div>
</div>